@model carsview.Model;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
 
@{
    string Change = "Change";
    string SelectModel = "";
    int SelectBrand = 0;
    int SelectID = 0;
    if (ViewBag.CarsModel != null){
         SelectID = ViewBag.CarsModel.IdModels;
        SelectModel = ViewBag.CarsModel.Name;
        SelectBrand = ViewBag.CarsModel.BrandId;
        Change = "Change1";
    }
}

<form asp-action=@Change asp-controller="home">
    <p>
         <label asp-for="IdModels">ID Модели</label>
         <input  asp-for="IdModels" value="@SelectID" readonly/>
         <br/>

         <label for="Brand">Марка</label>
                <select id="BrandId" name="BrandId">
                    @foreach (var Brand in ViewBag.Brand){
                @if (Brand.IdBrands == SelectBrand){
                    <option value="@Brand.IdBrands" selected>@Brand.Name</option>; 
                }
                else {<option value="@Brand.IdBrands">@Brand.Name</option>;}
            }
            
                    
                </select>
         <br/>
            
                
                <label asp-for="Name">Название модели</label>
                <input type="text" asp-for="Name" value="@SelectModel"/>
         <br/>

        <label asp-for="Active">Модель активна?</label>
        <select id="Active" name="Active">
            @if (ViewBag.CarsModel != null && ViewBag.CarsModel.Active){
                    <option value="true">true</option>
                    <option value="false">false</option>
            }
            else{
                    <option value="true">true</option>
                    <option value="false" selected>false</option>
            }
         </select>
         <br/>

        <input type="submit" value=@ViewData["ChangeOrAdd"] />
    </p>
</form>